
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: "poppins", border-box;

}

body{
    height: 100vh;
    background-color: #a2d5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #a29d9d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    background: #a29d9d;
    border: none;
    outline: none;
    height: 120px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button {
    padding: 20px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
}

.operator {
    color: rgb(68, 172, 232);
}

